.info {
    width: 200px;
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: floralwhite;
    font-size: .75rem;
}

.info__nuber {
    font-weight: 600;
}

.info__feature {
    font-weight: 800;
}

.info__volume {
    font-weight: 400;
}